.navbar {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  position: fixed;
  margin: 0 auto;
  width: 90%;
  top: 1rem;
  border-radius: 20px;
  height: 60px;

  box-shadow: -3px 3px 6px var(--border);
  background-color: hsl(from var(--bg-dark) h s l / 0.2);
  backdrop-filter: blur(4px);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.navbar-visible {
  transform: translateY(0);
}

.navbar-hidden {
  transform: translateY(-100%);
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 1rem;
}

.nav-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text);
  font-size: 1.5rem;
  font-weight: 600;
  gap: 10px;
  text-shadow: 1px 1px 6px var(--border);
}

.nav-menu {
  display: flex;
  align-items: center;
  color: var(--text);
  font-size: 1rem;
  font-weight: 700;
  gap: 2rem;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;

  cursor: pointer;
}

.nav-menu li a {
  text-decoration: none;
  color: var(--text);
  text-shadow: 1px 1px 6px var(--border);
}
.nav-menu li.active a {
  color: var(--primary);
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 1rem;

  color: var(--text);
}
.nav-login-cart button {
  background: none;
  border: none;
  cursor: pointer;
}

.nav-login-cart a,
.theme-btn {
  cursor: pointer;
  padding: 1rem;
}

.nav-cart-count {
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -27px;
  margin-left: -46px;
  border-radius: 11px;
  font-size: 12px;
  background: hsl(from var(--primary) h s l / 0.8);
  color: var(--text);
}
/*
.dark_btn {
  width: 50px;
  height: 50px;
}

.pnav {
  color: var(--text);
  font-size: 2rem;
  font-weight: 600;
}

.cart {
  color: var(--text);
}
button {
  border: none;
}



*/
