.footer {
  position: relative;
  display: flex;

  background-color: hsl(from var(--bg) h s calc(l - 10));
  color: var(--text);
  min-height: 30vh;
}
.footer-left {
  width: 33%;
  display: flex;

  gap: 2rem;
  padding: 1rem;
}
.footer-center {
  width: 33%;
  display: flex;
  padding: 1rem;
  justify-content: center;
}
.footer-right {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.footProds,
.footAbout,
.footContact {
  padding: 1rem;
}
.footAbout .link,
.footProds h4,
.footContact .link {
  font-size: 1.4rem;
  font-weight: 600;
}
.footer-links {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.link {
  cursor: pointer;
  color: var(--text);
  position: relative;
}
.unerline {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  border: none;
  background-color: var(--text);
  width: 0;
  transition: width 0.2s ease;
}
.link:hover .unerline {
  width: 100%;
}

.footer-social-icon {
  display: flex;
  gap: 20px;
}
/* From Uiverse.io by david-mohseni */
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;

  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #183237;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #0077b5;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

.footer-copyright {
  border: none;
  text-align: center;
  background: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 0.8rem;
}
