.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: var(--text);
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 2.5rem;
  color: var(--text);
}

.footer-links {
  display: flex;
  list-style: none;
  gap: 50px;
  font-size: 20px;
}

.footer-links li a {
  cursor: pointer;
  color: var(--text);
}
.footer-social-icon {
  display: flex;
  gap: 20px;
}

.footer-social-icon :hover {
  transform: scale(1.2);
}

.footer-icons-container {
  padding: 10px;
  padding-bottom: 6px;
  background: var(--bg);
  border: 1px solid var(--border);
}

.footer-copyright {
  width: 80%;
  border: none;
  border-radius: 10px;
  height: 3px;
  text-align: center;
  background: var(--text);
}

.hr {
  width: 80%;
  border: none;
  border-radius: 10px;
  height: 3px;
  background: var(--text);
  color: var(--text);
}

.footer-social-icon img {
  transition: transform 0.2s ease-in-out;
}

.footer-social-icon img:hover {
  transform: scale(1.1); /* Scale up on hover */
}
