* {
  margin: 0;
  padding: 0;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: hsl(0, 0%, 10%);
  --text: hsl(0 0% 95%);

  --highlight: hsl(165, 100%, 50%);
  --border: hsl(173 5% 27%);

  --primary: hsl(165, 69%, 59%);
  --secondary: hsl(182, 64%, 75%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146, 79%, 65%);
  --info: hsl(217, 57%, 80%);
}

[data-theme="light"] {
  --bg: hsl(0, 0%, 90%);
  --text: hsl(0 0% 5%);
  --highlight: hsl(173 4% 38%);
  --border: hsl(173 5% 27%);
  --primary: hsl(167, 69%, 59%);
  --secondary: hsl(182, 64%, 75%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146, 79%, 65%);
  --info: hsl(217, 57%, 80%);
}
.app {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: var(--bg);
}
