.popular {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1p {
  color: var(--text);
  font-size: 3rem;
  font-weight: 700;
}

.hrp {
  width: 200px;
  height: 4px;
  border-radius: 10px;
}

.popular-item {
  margin: 3rem 1rem;
  display: flex;
  gap: 1rem;
}
